sekret.txt
**/*~
**/*.dist
**/*.phar
**/*.out
**/*.gz
**/*.log
**/*.exe
**/*.o
**/*.out
**/*.aux
**/*.idx
**/*.ilg
**/*.ind
**/*.nav
**/*.pdf
**/*.snm
**/*.toc
**/*.vrb
**/nbproject
**/vendor
**/packages
**/*.dll
**/*.nupkg
